In [1]:
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(project_root)

In [20]:
import pandas as pd

from easyTrainer.data.text import TextualPreparator
from easyTrainer.models.sklearn_classifier_model import SklearnClassifierModel

from sklearn.ensemble import RandomForestClassifier

In [ ]:
TP = TextualPreparator(
    drop_digits=7,
    lemmatize=6,
    to_lower=2, 
    drop_accents=1,
    drop_special_characters=3,
    drop_stopwords=5,
    drop_words_less_than_N_letters=(4,4,True)
)

print(TP)

TextualPreparator with transformations: drop_accents@1, txt_to_lower@2, drop_special_characters@3, drop_words_less_than_N_letters@4, drop_stopwords@5, lemmatize@6, drop_digits@7

In [17]:
df = pd.DataFrame({
    "col1":['alons Enfants de la patrié 3000 autre mot','une NOUVELLE phrase again le jambons'],
    "col2":['alons Enfants de la patrié 3000 autre mot LE CACA','une NOUVELLE phrase again le jambons'],
    "col_numeric": [4123, 674]
})

df_prep = TP.prepare(df, all=False)

In [18]:
df_prep

                         col1                        col2  col_numeric
0        alon enfant patrie     alon enfant patrie   caca         4123
1  nouveau phras again jambon  nouveau phras again jambon          674

In [14]:
TP.prepare(["coucou la team, j'aimerais tester cette phrase."])

['coucou team aimer tester phras']